/* Remove margins from all elements */
* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}
/* To solve issue of footer content not being fixed to bottom */
html {
	height: 100%;
}
body {
	min-height: 100%;
}
a {
	display: inline;
}
code {
	vertical-align: inherit; /* Because vertical baseline needs to match paragrah */
	font-size: 0.9em; /* Because monospace usually appears bigger than non monospaced fonts */
}
div>code {
	display: block; /* When code is used as a block? */
}
pre>code {
	display: block;
}
iframe {
	display: block;
}
/* Remove border from hr */
hr {
	border: none;
}
/* If used inside code then it will inherit it's font-family */
pre {
	font-family: inherit;
}
/* Give inline elements nested in links a pointer cursor */
a code {
	cursor: pointer;
}
/* Images automatically calculate height from ratio of dimensions on html tag */
img {
	width: 100%;
	height: auto;
}
/* leading-trim.css */
* {
	--leading-trim-over-adjustment: 0em;
	--leading-trim-under-adjustment: 0em;
	--line-height: var(--line-ratio);

	--unset: unset;
	--leading-trim: var(--unset);
  	--leading-trim-over: var(--unset);
  	--leading-trim-under: var(--unset);
}
::before, ::after {
	display: block;
}
::before {
	content: var(--leading-trim, var(--leading-trim-over, unset));
	margin-bottom: calc((var(--cap-height) - var(--line-height, 1)) * 0.5em - var(--leading-trim-over-adjustment));
}
::after {
	content: var(--leading-trim, var(--leading-trim-under, unset));
	margin-top: calc((var(--cap-height) - var(--line-height, 1)) * 0.5em - var(--leading-trim-under-adjustment));
}
/* @-moz-document url-prefix() {} */
.type-guide blockquote, .type-guide p, .type-guide ul, .type-guide ol, .type-guide h1, .type-guide h2, .type-guide h3, .type-guide h4, .type-guide h5, .type-guide h6, .type-guide nav, .type-guide div > code, .type-guide div > a, .type-guide .Button, .type-guide pre  {
	display: flow-root;
	/* padding-top: 0.02px; */
	/* padding-bottom: 0.02px; */
	background-color: hsla(187, 100%, 76%, 0.12);
}
/* Font sizes and spacing scales */
:root {
    --font-size--2: calc(1rem * (1 / (var(--font-ratio) * var(--font-ratio))));
    --font-size--1: calc(1rem * (1 / (var(--font-ratio))));
    --font-size-0: calc(1rem * 1);
    --font-size-1: calc(1rem * (var(--font-ratio)));
    --font-size-2: calc(1rem * (var(--font-ratio) * var(--font-ratio)));
    --font-size-3: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-4: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-5: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-6: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-7: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-8: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-9: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-10: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em--2: calc(1em * (1 / (var(--font-ratio) * var(--font-ratio))));
	--font-size-em--1: calc(1em * (1 / (var(--font-ratio))));
	--font-size-em-0: calc(1em * 1);
	--font-size-em-1: calc(1em * (var(--font-ratio)));
	--font-size-em-2: calc(1em * (var(--font-ratio) * var(--font-ratio)));
	--font-size-em-3: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-4: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-5: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-6: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-7: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-8: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-9: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-10: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --em--2: calc(1em * (1 / (var(--line-ratio) * var(--line-ratio))));
    --em--1: calc(1em * (1 / (var(--line-ratio))));
    --em-0: calc(1em * 1);
    --em-1: calc(1em * (var(--line-ratio)));
    --em-2: calc(1em * (var(--line-ratio) * var(--line-ratio)));
    --em-3: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-4: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-5: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-6: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-7: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-8: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-9: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-10: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem--2: calc(1rem * var(--spacing-ratio) * (1 / (var(--line-ratio) * var(--line-ratio))));
	--rem--1: calc(1rem * var(--spacing-ratio) * (1 / (var(--line-ratio))));
	--rem-0: calc(1rem * var(--spacing-ratio) * 1);
	--rem-1: calc(1rem * var(--spacing-ratio) * (var(--line-ratio)));
	--rem-2: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio)));
	--rem-3: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-4: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-5: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-6: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-7: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-8: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-9: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-10: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)))
}
html {
    font-size: var(--font-base);
}
body {
	font-size: var(--font-size-body);
	line-height: var(--line-ratio);
	-moz-tab-size: var(--tab-size);
	  -o-tab-size: var(--tab-size);
	     tab-size: var(--tab-size);
	font-family: var(--font-family-body);
	letter-spacing: var(--letter-spacing-body);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	letter-spacing: var(--letter-spacing-heading);
	font-weight: var(--font-weight-heading);
}
code {
	font-family: var(--font-family-code);
}
h1 {
	font-size: var(--font-size-h1);
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}
h4 {
	font-size: var(--font-size-h4);
}
h5 {
	font-size: var(--font-size-h5);
}
h6 {
	font-size: var(--font-size-h6);
}
blockquote {
	font-size: var(--font-size-blockquote);
}
small {
	font-size: var(--font-size-small);
}
/* Gap prop */
[gap] {
	--gap: var(--rem-1);
}
[gap]>*>* {
	--gap: initial;
}
[gap]>*+* {
	margin-top: var(--gap);
}
[gap="1"] {
	--gap: var(--rem-1);
}
[gap="2"] {
	--gap: var(--rem-2);
}
[gap="3"] {
	--gap: var(--rem-3);
}
[gap="4"] {
	--gap: var(--rem-4);
}
[gap="5"] {
	--gap: var(--rem-5);
}
/* Defaults */
:root {
	--font-base: 1rem;
	--font-ratio: 1;
	--line-ratio: 1;
	--spacing-ratio: 1;
	--cap-height: 0.75;
}
/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
	display: block;
	overflow-x: auto;
  }
.hljs-comment,
  .hljs-quote,
  .hljs-variable {
	color: #008000;
  }
.hljs-keyword,
  .hljs-selector-tag,
  .hljs-built_in,
  .hljs-name,
  .hljs-tag {
	color: #C751FF;
  }
.hljs-selector-class {
	color: #519D2D;
  }
.hljs-string,
  .hljs-title,
  .hljs-section,
  .hljs-attribute,
  .hljs-literal,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-addition {
	color: #875BBF;
  }
.hljs-deletion,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-meta {
	color: #519D2D;
  }
.hljs-doctag {
	color: #808080;
  }
.hljs-attr {
	color: #f00;
  }
.hljs-symbol,
  .hljs-bullet,
  .hljs-link {
	color: #00b0e8;
  }
.hljs-emphasis {
	font-style: italic;
  }
.hljs-strong {
	font-weight: bold;
  }
/* Reset */
* {
	list-style: none;
}
body {
	margin: initial;
}
#sapper {
	margin: initial;
}
code {
	overflow-x: scroll;
}
/* Ratios */
:root {
	--font-base: 16px;
	--font-ratio: 1.25;
	--line-ratio: 1.5;
	--spacing-ratio: 1;
}
/* Font styling */
:root {
	--cap-height: 0.75;
	--tab-size: 2;
	--letter-spacing-body: 0;
	--letter-spacing-heading: 0;
	--font-family-body: 'Helvetica Neue', sans-serif;
	--font-family-heading: 'Helvetica Neue', sans-serif;
	--font-family-code: 'Andale Mono', monospace;
	--font-weight-heading: bold;
}
/* Typsetting */
* {
	/* font-size: var(--font-size-0); */
}
:root {
	--font-size-body: var(--font-size-0);
	--font-size-h1: var(--font-size-em-8);
	--font-size-h2: var(--font-size-em-4);
	--font-size-h3: var(--font-size-em-0);
	--font-size-h4: var(--font-size-em-0);
	--font-size-h5: var(--font-size-em-0);
	--font-size-h6: var(--font-size-em-0);
	--font-size-blockquote: var(--font-size-body);
	--font-size-small: var(--font-size--1);
}
:root {
	--border-color-code: grey;
}
/* Leading Trimming */
h1,
h2,
h3,
h4,
blockquote,
p {
	/* --leading-trim: ''; */
}
code::before {
	display: none;
}
code::after {
	display: none;
}
/* Text Spacing */
/* * + * {
	margin-top: var(--em-0);
}

html,
body,
section,
div,
a {
	margin-top: unset;
	margin-bottom: unset;
} */
hr {
	/* margin-top: var(--rem-5); */
	/* margin-bottom: var(--rem-5); */
}
h1 {
	--text-gap: var(--em-1);
	margin-top: calc(0.5 * var(--text-gap));
	margin-bottom: var(--em-0);
}
h2,
h3,
h4,
h5 {
	--text-gap: var(--em-2);
	margin-top: var(--text-gap);
	margin-bottom: var(--em-0);
}
/* h6 {
	margin-top: var(--em-2);
} */
/* Spacing */
* + * {
	margin-top: var(--self-text-gap, var(--text-gap));
}
/* a,
body,
html,
section,
svg {
	margin-top: unset;
	margin-bottom: unset;
} */
[flex] > *,
[flex] > * > :first-child,
[flex] > * > :first-child > :not(div):first-child {
	margin-top: unset;
}
/* Text gap */
[text-gap] > * {
	margin-bottom: unset;
}
[text-gap='none'] > * {
	--text-gap: 0;
}
[text-gap='0'] > * {
	--text-gap: var(--em-0);
}
[text-gap='1'] > * {
	--text-gap: var(--em-1);
}
[text-gap='2'] > * {
	--text-gap: var(--em-2);
}
[text-gap='3'] > * {
	--text-gap: var(--em-3);
}
[text-gap='4'] > * {
	--text-gap: var(--em-4);
}
[text-gap='5'] > * {
	--text-gap: var(--em-5);
}
[self-text-gap='none'] {
	--self-text-gap: 0;
}
[self-text-gap='1'] {
	--self-text-gap: 1rem;
}
[self-text-gap='2'] {
	--self-text-gap: 3rem;
}
[self-text-gap='3'] {
	--self-text-gap: 3rem;
}
[self-text-gap='4'] {
	--self-text-gap: 4rem;
}
[self-text-gap='5'] {
	--self-text-gap: 5rem;
}
[flex] {
	display: flex;
	/* margin-top: calc(0px - var(--row-gap, var(--text-gap))); */
	/* margin-left: calc(0px - var(--parent-column-gap)); */
}
[flex] > * {
	flex-grow: 1;
}
[flex*='shrink'] > * {
	flex-grow: initial;
}
[flex*='wrap'] {
	flex-wrap: wrap;
}
[grid] {
}
/* Width*/
[width='1\\2'] {
	width: calc(50% - var(--item-column-gap, 0px));
	flex-shrink: 0;
	flex-grow: 0;
}
[width='1\\3'] {
	width: calc(33.333% - var(--item-column-gap, 0px));
	flex-shrink: 0;
	flex-grow: 0;
}
[width='1\\4'] {
	width: calc(25% - var(--item-column-gap, 0px));
	flex-shrink: 0;
	flex-grow: 0;
}
[column-gap] {
	margin-left: calc(0px - var(--parent-column-gap, initial));
}
[column-gap] > * {
	margin-left: var(--item-column-gap, initial);
}
[column-gap='1'] {
	--parent-column-gap: var(--rem-1);
}
[column-gap='1'] > * {
	--item-column-gap: var(--rem-1);
}
[column-gap='2'] {
	--parent-column-gap: var(--rem-2);
}
[column-gap='2'] > * {
	--item-column-gap: var(--rem-2);
}
[column-gap='3'] {
	--parent-column-gap: var(--rem-3);
}
[column-gap='3'] > * {
	--item-column-gap: var(--rem-3);
}
[row-gap] {
	margin-top: calc(
		var(--self-gap, var(--text-gap, 0px)) - var(--parent-row-gap, initial)
	);
}
[row-gap] > * {
	margin-top: var(--item-row-gap, initial);
}
[row-gap] > [row-gap] {
	margin-top: calc(var(--parent-row-gap, 0px) - var(--item-row-gap, initial));
}
[row-gap='1'] {
	--parent-row-gap: var(--rem-1);
}
[row-gap='1'] > * {
	--item-row-gap: var(--rem-1);
}
[row-gap='2'] {
	--parent-row-gap: var(--rem-2);
}
[row-gap='2'] > * {
	--item-row-gap: var(--rem-2);
}
[row-gap='3'] {
	--parent-row-gap: var(--rem-3);
}
[row-gap='3'] > * {
	--item-row-gap: var(--rem-3);
}
[padding='1'] {
	padding: var(--rem-1);
}
[padding-inline='1'] {
	padding-left: var(--rem-1);
	padding-right: var(--rem-1);
}
[padding-inline='2'] {
	padding-left: var(--rem-2);
	padding-right: var(--rem-2);
}
[padding-inline='3'] {
	padding-left: var(--rem-3);
	padding-right: var(--rem-3);
}
[border] {
	border: 1px solid;
}
[text='center'] {
	text-align: center;
}
/* Layout */
html,
.App,
body,
#sapper {
	margin-top: 0 !important; /* temp overide */
}
#sapper,
.Site {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#sapper {
	width: 100%;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.App {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: inherit;
	padding-right: inherit;
	/* padding-top: inherit; */
	/* padding-bottom: inherit; */
	box-sizing: content-box;

	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
}
.App {
	display: flex;
	flex-direction: column;
}
.Content {
	flex-grow: 1;
}
.Footer {
	justify-content: space-between;
	padding-left: inherit;
	padding-right: inherit;
}
[width='viewport'] {
	max-width: none !important;
	width: 100vw;
	box-sizing: border-box;
	position: relative;
	left: 50%;
	transform: translate(-50vw);
	padding-left: inherit;
	padding-right: inherit;
}
hr {
	border-bottom: 1px solid;
	margin-top: var(--em-5);
	margin-bottom: var(--em-5);
}
@media (max-width: 900px) {
	:root {
		--spacing-ratio: 0.666;
		--font-ratio: 1.2;
		--font-base: 16px;
	}
}
@media (max-width: 600px) {
	:root {
		--spacing-ratio: 0.5;
		--font-ratio: 1.1;
	}
}
@media (max-width: 375px) {
	:root {
		--font-base: 14px;
	}
}
/* Text Links */
:not(div) > a {
	text-decoration: none;
}
/* Element styles */
svg {
	vector-effect: non-scaling-stroke;
	stroke-width: 1px;
}
[content] ul {
	list-style: inside;
}
code {
	background: #ececec;
}
pre code {
	padding: var(--em-0);
	border-radius: 8px;
}
